{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, magnam repellendus. Velit ab aperiam recusandae aliquid quos. Veniam debitis numquam qui
    labore veritatis ad praesentium illum, rerum fuga iure unde.</p>
</body>
</html>
{% endblock %}