{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
    <style>
      html {
        height: 100%;
      }
      body {
        height:100%;
    background-image: url("{{ url_for('static', filename='img/websitebody.jpg') }}");
    background-size: 100% 100%;
  }
    </style>
</head>
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Social Network</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <div class="starter-template">
    <h1>SocialMedia</h1>
    <p class="lead"><br>A responsive social network repository web app</p>
  </div>

</div><!-- /.container -->
  {% endblock %}