{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Fiver Website</title>
    
</head>
<body>
      <!-- Hero Section  -->
      <section id="hero">
        <div class="hero container">
            <div>
                <div class="bgimage">
                    <h1 class="title" >Welcome To Fiver Website</h1>
                    <h2 class="subtitle" >Make easily friends on social network website</h2>
                    <a href="#" type="button" class="cta">Learn More</a>
            </div>
        </div>
      </section>
<!-- End Hero Section  -->
</body>
</html>
{% endblock %}
